<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>capguy/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{157,314}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{157,314}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{157,314}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{157,314}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,314},{167,302}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{167,302}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,314},{167,302}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{167,302}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{151,306}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{151,306}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{151,306}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{151,306}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{139,304}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{139,304}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{139,304}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{139,304}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{137,310}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{137,310}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{137,310}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{137,310}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{133,310}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{133,310}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{133,310}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{133,310}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{145,312}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{145,312}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{145,312}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{145,312}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,318}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{159,318}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
            <key>capguy/0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,318}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{159,318}}</string>
                <key>sourceSize</key>
                <string>{187,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{884,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86eef592dcdf46a488021b23d655a358:785412f93f400104f22557a3c964a48c:b9a3dd7f67dbb34cb697fcf771a59645$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
