<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{248,512}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,84},{248,512}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{234,496}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,89},{234,496}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,500},{168,506}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,85},{168,506}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1032},{158,508}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,80},{158,508}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{178,502}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,88},{178,502}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1542},{202,504}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,90},{202,504}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{178,510}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,83},{178,510}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>character/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,514}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,83},{176,514}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{422,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b54feef1f505f4d77f0d28eb038be2f:7536e2f5c6221a150f4e2f7725fedb1b:b9a3dd7f67dbb34cb697fcf771a59645$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
